* {
    background-color: #f1f1f1;
    font-family: 'Raleway', sans-serif;
}


body {
    height: 100vh;
}


.sub-title {
    padding-left: 860px;
    font-size: 10px;
    padding-top: 5px;
    margin-bottom: 50px;
}


.second-header {
    padding-left: 12px;
    padding-top: 8px;
    margin: auto;
}


.third-header-span {
    color: #a2a2a2;
}


.third-header {
    display: inline;
    padding-left: 12px;
}


p {
    font-size: 12px;
    padding-left: 12px;
    line-height: 160%;
}


.avatar-text {
    width: 360px;
    height: 141px;
}


h1 {
    padding-left: 890px;
    padding-top: 22px;
    margin: auto;
    font-size: 25px;
}


h3 {
    font-size: 15px;
    color: rgb(82, 81, 81);
}


h4 {
    display: inline-block;
}


.third-right-span {
    padding: 1px;
    cursor: pointer;
}


.third-text {
    margin: auto;
}


.third-right-span-black {
    background-color: black;
    color: white;
    padding: 3px;
    padding-top: 5px;
    cursor: pointer;

}

.first-text, .second-text {
    margin-top: 20px;
    margin-bottom: 20px;
}


.left-hr {
    width: 720px;
    margin-left: 387px;
    display: inline-block;
    border-top: 1px solid #eeecec;
    margin-top: 15px;
    margin-bottom: 15px;
}


.right-hr1 {
    width: 380px;
    border-top: 1px solid #eeecec;
    margin-top: 15px;
    margin-bottom: 15px;
}


.right-hr2 {
    width: 380px;
    border-top: 1px solid #eeecec;
    margin-top: 15px;
    margin-bottom: 13px;
}


.first-left, .second-left {
    width: 700px;
    height: 460px;
    margin-left: 400px;
}


.wood {
    background-image: url(/blog-task/image/wood.jpg);
    width: 700px;
    height: 220px;
}


.read-more, .comment {
    display: inline-block;
    padding-left: 15px;
    margin-bottom: 10px;
    padding-top: 10px;
}


.comment {
    padding-left: 400px;
    cursor: pointer;
    
}

.first-left, .read-more, .comment, .first-text, .second-header, .wood-text, 
.third-header-span, .first-read-more, .first-comment, .second-read-more, 
.second-comment, .third-header, .bridge-text, .second-text, .second-left, 
.third-text, .avatar-text, .strong-read-more, .storng-comment, .avatar,
.second-right-span-title, .second-right-span-text {
    background-color:white;
}


.bridge {
    background-image: url(/blog-task/image/bridge.jpg);
    width: 700px;
    height: 220px;
}


.first-right {
    width: 360px;
    height: 355px;
    display: inline-block;
    margin-left: 10px;
}


.first-left, .first-right {
    vertical-align: top;
}



.avatar-img {
    width: 360px;
    height: 210px;
}


.second-right {
    width: 360px;
    height: 322px;
    margin-top: 10px;
    margin-left: 10px;
}


.third-right {
    margin-top: 15px;
    margin-left: 10px;
    background-color: white;
    width: 360px;
    height: 168px;
    margin: auto;
}


.workshop, .gondol, .mountain, .skie {
    width: 360px;
    height: 66px;
    background-color: white;
    border-bottom: 2px solid #eeecec;
    line-height: 30px;
}

.workshop, .gondol, .skie{
    border-bottom: 2px solid #eeecec;
}

.workshop-img, .skie-img, .gondol-img, .mountain-img{
    width: 40px;
    margin: 12px 12px 8px 12px;
}



.main-left, .main-right {
    display: inline-block;
    vertical-align: top;
}


.comment-span1, .comment-span2, .unknown {
    background-color: black;
    color: rgb(196, 194, 194);
    padding: 2px 6px;
    line-height: 30px;
}


.comment-span1 {
    padding: 0px 5px 1px;
    font-size: 15px;
}


.comment-span2 {
    padding: 0px 6px 1px 6px;
    border-radius: 50%;
    font-size: 15px;
}
  

.unknown {
    padding: 2px 5px;
}


.popular-posts, .tags {
    width: 350px;
    height: 55px;
    border-top: 1px solid #eeecec;
    padding-left: 10px;

}


.first-read-more, .second-read-more {
    border: 1px solid rgb(206, 205, 205);
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 10px;
    cursor: pointer;
}


.first-comment, .second-comment {
    background-color: white;
    border: none;
    color: black;
    text-decoration: none;
    display: inline-block;
    cursor: pointer;
}


.second-right-h4, .second-right-p {
    margin: 0;
    display: inline-block;
    background-color: white;
}


.second-right-h4, .second-right-p {
    text-align: center;
}

.third-right-p {
    background-color: white;
    letter-spacing: 1px;
    line-height: 230%;
}


.first-right, .second-right, .first-left, .third-right, .second-left {
    box-shadow: 1px 1px 11px #ccc;
}



.hover {
    height: 100px;
}



.second-right-span-title{
    font-size: 16px;
    
}

.second-right-span-text{
    font-size: 13px;
    
}


.workshop-img, .second-right-span-title, .gondol-img, .skie-img, .mountain-img {
    vertical-align: middle;
    float: left;
}


.read-more-arrow {
    text-align: center;
}